@font-face {
    font-family: DynaPuff;
    src: url("./assets/fonts/DynaPuff-Regular.ttf");
}

:root {
    font-family: DynaPuff, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;
    color: #ffcfbd;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

button {
    border: none;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: inherit;
}

#app {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.emoji {
    font-family: "Segoe UI Emoji", sans-serif;
}